@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 1em;
    background-color: rgb(177, 51, 239);
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.753);
}

#btn-area {
    padding: 1.25em;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-flow: row wrap;
}

button {
    padding: 1em;
    font-size: 2em;
    border-radius: 1em;
    background-color: rgb(225, 164, 255);
    border: 0.1em solid rgb(144, 6, 175);
    transition: 0.1s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    background-color: rgba(104, 81, 214, 0.742);
}